:root{
    --body-background-color: #FFB347;
    --body-background-color-light: #ffbe62;
    --body-background-color-bold:#fda933;
    --main-background-color: #ffdb92;
    --header-footer-color: #FFA500;
    --footer-bottom-color: #FF8C00;
    --border-bold-color: #ff6600;
    --border-bolder-color: #582502;
    --header-footer-font-color: #1F2A37;
    --main-font-color: #161615;
    --braga: #1F2A37 ;
    --bites: #2F8F8B ;
}



*, *::before, *::after {
    box-sizing: border-box;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

body{
    background-color: var(--body-background-color);
    padding: 0;
    margin: 0;    
    width: 100%;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    flex-direction: column;
    background-color: var(--header-footer-color);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
    width: 100%;
    padding:10px 3px;
}

.headerBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#navbar {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 75%; 
    height: 100%;
    background-color: var(--body-background-color-bold); 
    transform: translateX(-100%); 
    animation: slideInNav 0.3s ease-in-out forwards; 
    z-index: 1000; 
    box-shadow: 10px 0px 20px rgba(0,0,0,0.2);

}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    margin:10px;
}

nav ul li {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 0px 20px rgba(66, 25, 1, 0.1);
    background-color: var(--body-background-color-light);
}
nav ul li a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: var(--braga);
    font-size: 1.4rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--border-bold-color);
}

nav ul hr {
    width: 100%;
    border: 1px solid var(--border-bold-color);
    margin: 5px 0;
}
@keyframes slideInNav {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideOutNav {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#navIcon, #languageIcon {
    max-width: 35px;
    max-height: 35px;
    padding: 2px;
    cursor: pointer;
}

#navCloseIcon , #closeLang {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    opacity: 0;
    animation: opacity0to1 0.3s ease-in-out forwards; 
}

#navCloseIcon {
    background-color: rgba(0, 0, 0, 0.3); 
}
#closeLang {
    background-color: rgba(0, 0, 0, 0.15); 

}

.mainText{
    font-size: 1.8rem;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    width: 100%; 
    cursor: pointer;   
}

.headerTop a , .footerTop a {
    text-decoration: none;
    color: inherit;
}


main {
    padding: 7.5px 10px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--header-footer-color);
    width: 100%;
    
}


.footerTop {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 10px;

}

.footerMiddle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.footerBottom{
    background-color: var(--footer-bottom-color);
    text-align: center;
    padding: 20px 10px;
    border-top: 5px solid var(--border-bold-color);

}
.footerLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footerRight {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footerInfo {
    display: flex;
    flex-direction: column
}

.footerContactDetails {
    display: flex;
    flex-direction: column;
}

.footerSocialMedias {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footerIcon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.footerGoogleMaps {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    overflow: hidden;
}

.footerGoogleMaps iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.mainLogo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.footerContactDetails div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}


.footerGradient {
    width: 100%;
    height: 25px;
    background: linear-gradient(to top, var(--header-footer-color), var(--body-background-color));
    pointer-events: none;
}

.headerGradient {
    width: 100%;
    height: 25px;
    background: linear-gradient(to bottom, var(--header-footer-color), var(--body-background-color));
    pointer-events: none;
}




.braga {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    color: #1F2A37;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@700&display=swap');
.bites {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--bites);
    text-decoration: none;
}





.headerLeft , .headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.currentPage {
    font-weight: bold;
    color: var(--border-bolder-color);
}



#languageMenu {
    border-radius: 20px;
    display: none;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    position: fixed;
    top: 50px;
    right: 20px;
    width: auto; 
    height: auto;
    box-shadow: 10px 0px 20px rgba(0,0,0,0.2);
    background-color: var(--body-background-color); 
    transform: translateY(-100%); 
    animation: slideInLang 0.3s ease-in-out forwards;
    z-index: 1000;
    padding: 20px;
}

@keyframes slideInLang {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutLang {
    from {
        transform: translateX(0);

    }
    to {
        transform: translateX(200%);

    }
}

@keyframes opacity0to1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes opacity1to0 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



.languageSelectOption{
    display: flex;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    background-color: var(--body-background-color-light);
    color: var(--header-footer-font-color);
    padding: 12px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.selectedLanguage {
    font-weight: bold;
    color: var(--border-bolder-color);
}





main {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: var(--main-font-color);
    background-color: var(--main-background-color);
    margin: 30px 5px;
    border-radius: 10px;
    padding: 15px; 
    box-shadow: 10px 0px 20px rgba(0,0,0,0.2);

}

