:root{
    --body-background-color: #FFB347;
    --body-background-color-light: #ffbe62;
    --body-background-color-bold:#fda933;
    --main-background-color: #ffdb92;
    --main-background-color-bold: #ffd071;
    --main-background-color-bolder: #ffcd68;
    --main-background-color-boldest: #f8bf4d;
    --header-footer-color: #FFA500;
    --footer-bottom-color: #FF8C00;
    --border-bold-color: #ff6600;
    --hover-color-bold: #582502;
    --hover-color-bolder: #361803;
    --header-footer-font-color: #1F2A37;
    --main-font-color: #161615;
    --braga: #1F2A37 ;
    --bites: #2F8F8B ;
    --card-background: #f7f6f3;
    --sticker-main-color: red ;
    --sticker-sub-color: yellow ;
    
}



*, *::before, *::after {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

body{
    background-color: var(--body-background-color);
    padding: 0;
    margin: 0;    
    width: 100%;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    flex-direction: column;
    background-color: var(--header-footer-color);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
    width: 100%;
    padding:10px 3px;
}

.headerBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#navbar {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 75%; 
    height: 100%;
    background-color: var(--body-background-color-bold); 
    transform: translateX(-100%); 
    animation: slideInNav 0.3s ease-in-out forwards; 
    z-index: 1000; 
    box-shadow: 10px 0px 20px rgba(0,0,0,0.2);
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    margin:10px;
}

#navbar ul a li {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 12px 0;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 0px 20px rgba(66, 25, 1, 0.1);
    background-color: var(--body-background-color-light);
}
#navbar ul a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: var(--braga);
    font-size: 1.4rem;
    font-weight: bold;
    width: 80%;
    margin: 3px 5px;
}


#navbar ul hr {
    width: 100%;
    border: 1px solid var(--border-bold-color);
    margin: 5px 0;
}


#navbar ul a li:hover {
    transform: translateY(-2px);
    box-shadow: 10px 0px 20px rgba(66, 25, 1, 0.2);
}

#navbar ul a li:hover {
    color: var(--hover-color-bold);
}



@keyframes slideInNav {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideOutNav {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#navIcon, #languageIcon {
    max-width: 35px;
    max-height: 35px;
    padding: 2px;
    cursor: pointer;
}

#navCloseIcon , #closeLang , #galleryZoomClose , #galleryFilterClose {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    opacity: 0;
    z-index: 100;
    animation: opacity0to1 0.3s ease-in-out forwards; 
    cursor: pointer;
}

#navCloseIcon {
    background-color: rgba(0, 0, 0, 0.3); 
}
#closeLang {
    background-color: rgba(0, 0, 0, 0.15); 

}
#galleryFilterClose {
    background-color: rgba(0, 0, 0, 0.2); 
}
#galleryZoomClose {
    background-color: rgba(0, 0, 0, 0.8); 
}

.mainText{
    font-size: 1.8rem;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    width: 100%; 
    cursor: pointer;   
}

.headerTop a , .footerTop a {
    text-decoration: none;
    color: inherit;
}



footer {
    display: flex;
    flex-direction: column;
    background-color: var(--header-footer-color);
    width: 100%;
    
}


.footerTop {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 10px;

}

.footerMiddle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.footerBottom{
    background-color: var(--footer-bottom-color);
    text-align: center;
    padding: 20px 10px;
    border-top: 5px solid var(--border-bold-color);

}
.footerLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footerRight {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footerInfo {
    display: flex;
    flex-direction: column
}

.footerContactDetails {
    display: flex;
    flex-direction: column;
}

.footerSocialMedias {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footerIcon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.footerGoogleMaps {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    overflow: hidden;
    max-width: 800px;
    margin: 0px auto;
}

.footerGoogleMaps iframe {
    align-self: center;
    width: 100%;
    height: 100%;
    border: none;
}

.mainLogo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.footerContactDetails div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}


.footerGradient {
    width: 100%;
    height: 25px;
    background: linear-gradient(to top, var(--header-footer-color), var(--body-background-color));
    pointer-events: none;
}

.headerGradient {
    width: 100%;
    height: 25px;
    background: linear-gradient(to bottom, var(--header-footer-color), var(--body-background-color));
    pointer-events: none;
}




.braga {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    color: #1F2A37;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@700&display=swap');
.bites {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--bites);
    text-decoration: none;
}





.headerLeft , .headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.currentPage {
    font-weight: 800;
    color: var(--hover-color-bolder);
}



#languageMenu {
    border-radius: 20px;
    display: none;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    position: fixed;
    top: 50px;
    right: 20px;
    width: auto; 
    height: auto;
    box-shadow: 10px 0px 20px rgba(0,0,0,0.2);
    background-color: var(--body-background-color); 
    transform: translateY(-100%); 
    animation: slideInLang 0.3s ease-in-out forwards;
    z-index: 1000;
    padding: 20px;
}

@keyframes slideInLang {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutLang {
    from {
        transform: translateX(0);

    }
    to {
        transform: translateX(200%);

    }
}

@keyframes opacity0to1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes opacity1to0 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}



.languageSelectOption{
    display: flex;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    background-color: var(--body-background-color-light);
    color: var(--header-footer-font-color);
    padding: 12px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.selectedLanguage {
    font-weight: bold;
    color: var(--hover-color-bold);
}





main {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: var(--main-font-color);
    background-color: var(--main-background-color);
    margin: 30px 5px;
    border-radius: 10px;
    padding: 2px; 
    box-shadow: 10px 0px 20px rgba(0,0,0,0.2);

}





.orderCardSection {
    padding: 5px 2px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;

}

.orderCard {
    display: flex;
    flex-direction: row;
    background-color: var(--card-background);
    box-shadow: 10px 0px 20px rgba(0,0,0,0.2);
    border-radius: 25px;
    height: 175px;
    width: 95%;
    margin: 20px auto;
    max-width: 500px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.orderCardSection a{
    text-decoration: none;
    color: var(--main-font-color);
    align-items: center;
    justify-content: center;
}


.orderCardSection a:hover{
    color: var(--hover-color-bolder);

}
.orderCard:hover {
    transform: translateY(-3px);
    box-shadow: 10px 0px 20px rgba(0,0,0,0.35);
}

.orderCardRight , .orderCardLeft {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}




.hrHorizontal{
    border: 1px solid var(--border-bold-color);
    width: 100%;
    margin: 0;
    padding: 0;
}

.hrVertical {
    height: 100%;
    border: 1px solid var(--border-bold-color);
}

.orderCardLeft img{
    width: 60px;
    height: 60px;
}

.orderCardLeft iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px 0px 0px 25px;
}

.orderCardPhone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.orderCardRight img {
    width: 30px;
    height: 30px;
    margin: 0px auto;
}
.orderCardStickerRight {
    background-color: var(--sticker-main-color);
    color: var(--sticker-sub-color);
    border-radius: 15px;
    padding: 10px 5px;
    transform: translateX(15px) translateY(85px);
    align-self: end;
    position: absolute;
}

.orderCardRight {
    width: 65%;
}
.orderCardLeft {
    height: 100%;
    width: 35%;
}



.homeTopSlideshowSection {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
    background-color: var(--main-background-color-bold);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

}

.homeTopImageSection {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;

}

.slideShowImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.slideShowImage.active {
    opacity: 1;
}

.slideShowPrevious,
.slideShowNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-background-color-boldest);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    color: var(--hover-color-bolder);
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s;
    border-radius: 10px;
    font-weight: 1000;
    font-size: 1.5rem;
    color: var(--main-font-color);

}

.slideShowPrevious:hover,
.slideShowNext:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.65);
}

.slideShowPrevious { left: -10px; }
.slideShowNext { right: -10px; }

.homeTopDotSection {
    background-color: var(--main-background-color-bolder);
    max-width: 150px;
    margin: 10px auto 0px auto;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.33);

}

.homeTopSlideshowDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(150, 132, 132);
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.homeTopSlideshowDot:hover {
    background-color: rgb(114, 114, 114);
}
.homeTopSlideshowDot.active {
    width: 28px;
    height: 12px;
    border-radius: 25px;
    background-color: rgb(75, 71, 71);
}

.homeTopTextSection {
    padding: 10px 5px;
    
}

#homeTopTitleSection {
    text-align: justify;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 10px auto;

}




.homeTopSection {
    text-align: justify;
    text-indent: 1em;
    display: flex;
    flex-direction: column;    
}

.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0px 0px 50px 0px;
    padding: 0px 3px;
}

.contactSection h1 {
    color: var(--hover-color-bolder);
    cursor:default;
}

.contactFormTop{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.contactFormBottom{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

.fileUpload input[type="file"] {
    display: none;
}

.contactForm input , .contactForm textarea{
  padding: 10px;
  border-radius: 10px;
  background: var(--main-background-color-bold);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: var(--main-font-color);
  border: none;
  height: 50px;
  width: 100%;
}

.contactForm textarea {
    height: auto;
    min-height: 175px;
    font-family: 'Poppins', sans-serif;

}

.fileButton {
    max-width: 165px;
}

.fileButton, .contactFormSendButton, .captchaBox {
  border: none;
  height: 50px;
  padding: 0 16px;
  border-radius: 10px;
  background: var(--main-background-color-bold);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: var(--main-font-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  overflow: hidden;
  text-align: center;
}


.contactFormSendButton {
font-family: 'Poppins', sans-serif;
font-size:1.1rem;
font-weight: bold;
background: var(--body-background-color-light);
}

.fileButton:hover , .contactFormSendButton:hover , .contactForm input:hover , .contactForm textarea:hover , .captchaBox:hover ,.contactCardInstagram:hover , .contactCardWhatsapp:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}




.contactSectionBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 360px;
    margin: 0px 0px 30px 0px;
    gap: 10px;
}
.contactSectionBottom a {
    width: 100%;
}

.contactCardInstagram , .contactCardWhatsapp {
    border-radius: 15px;
    display: flex;
    margin: 0px auto;
    height: 160px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.contactCardInstagramBackground , .contactCardWhatsappBackground {
width: 100%;
height: 100%;
opacity: 1;
}


.contactCardInstagramBackground {
background: linear-gradient(
  135deg,
  #515BD4,
  #8134AF,
  #DD2A7B
);
}
.contactCardWhatsappBackground {
background: linear-gradient(
  135deg,
  #25D366,
  #128C7E
);
}

.contactSectionBottom a div img {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 15px;
}
.contactSectionBottom a:nth-child(2) div img {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.contactSectionBottom a:nth-child(1) div img {
    filter: contrast(1.8) saturate(1.4);
}
  

.contactSectionBottom a div {
    align-items: center;
    justify-content: center;
}

.gallerySection {
    padding: 5px;
    margin: 10px auto;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.galleryImageContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--main-background-color-bold);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.galleryImageContainer:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}

.galleryImageContainer img {
    width: 100%;
    height: 50%;
    border-radius: 15px;
    object-fit: cover;
}

.galleryItemsSecion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.galleryDate , .galleryCategory {
    background-color: var(--main-background-color-boldest);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    color: var(--hover-color-bolder);
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: bold;
    color: var(--main-font-color);
    text-align: center;
    position: absolute;
    bottom: -5px;

}

.galleryDate {left: -10px;}
.galleryCategory {right: -10px;}

.galleryTitle {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0 15px 0;
    
}

.galleryZoomedImage , #zoomedImageContainer{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    width: 100%;
    top: 27%;
    position: fixed;
    z-index: 1000;
    animation: opacity0to1 0.3s ease-in-out forwards;
    
}

.galleryImageContainerBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}



.gallerySearch img {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}

.gallerySearch input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    color: var(--main-font-color);
}
.gallerySearch input:focus {
    outline: none;   

}
.gallerySearch input::placeholder{
    color: var(--braga);
}
.gallerySearch input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}


.galleryFilterSection h3 {
    font-weight: bold;
    color: var(--hover-color-bolder);
    font-size: 1.5rem;
    margin: 10px auto;
}


.gallerySearch{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: none;
    width: 100%;
    padding: 5px 10px;
    background-color: var(--main-background-color-boldest);
    cursor: text;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.gallerySearch:hover , .galleryFilter:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    transform: translateY(-2px);
}
.gallerySearchSection  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 800px
}


.galleryFilter{
    max-width: 50px;
    max-height: 50px;
    border-radius: 15px;
    background-color: var(--main-background-color-bolder);
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


.galleryFilterSection {
    position: fixed;
    z-index: 1000;
    background-color: var(--main-background-color-bold);
    padding: 20px;
    top: 40%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    display: none;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    color: var(--main-font-color);
    overflow: hidden;
}


@keyframes galleryzoompopin {
    0% {
        scale: 0.1;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
    
    
}


@keyframes galleryzoompopout {
    0% {
        scale: 1;
        opacity: 1;
    }

    100% {
        scale: 0.1;
        opacity: 0;
    }
    
    
}



@keyframes galleryfilterpopin {
    0% {
        scale: 0.1;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
    
    
}


@keyframes galleryfilterpopout {
    0% {
        scale: 1;
        opacity: 1;
    }

    100% {
        scale: 0.1;
        opacity: 0;
    }
    
    
}





.galleryFilterSection div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

}


.galleryFilterSection div label {
    cursor: pointer;
    background-color: var(--main-background-color-boldest);
    border-radius: 15px;
    padding: 5px 10px;
    box-shadow:0px 4px 10px rgba(0, 0, 0, 0.2);
}

.galleryFilterSection div label:hover {
    transform: translateY(-2px);
    box-shadow:0px 4px 10px rgba(0, 0, 0, 0.35);
}



.galleryFilterSection input[type="checkbox"],
.galleryFilterSection input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}


.galleryFilterCheckmark {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s;
}


.galleryFilterCategory .galleryFilterCheckmark {
  width: 20px;
  height: 20px;
  background-color: var(--header-footer-color);
  border-radius: 5px;
  position: relative;
  box-shadow:0px 4px 10px rgba(0, 0, 0, 0.1);
}

.galleryFilterCategory input:checked + .galleryFilterCheckmark::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: 3px solid var(--main-background-color) ;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.galleryFilterDate .galleryFilterCheckmark {
  width: 20px;
  height: 20px;
  background-color: var(--header-footer-color);
  border-radius: 50%;
  position: relative;
  box-shadow:0px 4px 10px rgba(0, 0, 0, 0.1);
}

.galleryFilterDate input:checked + .galleryFilterCheckmark::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--main-background-color);
}

.galleryFilterSection label:hover .galleryFilterCheckmark {
  filter: brightness(0.99);
  box-shadow:0px 4px 10px rgba(0, 0, 0, 0.2);
}


.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 5px;
}
.aboutSection div {
    text-align: justify;
    text-indent: 1em;
    font-family:Arial, Helvetica, sans-serif ;
    color: var(--main-font-color);
    margin: 20px 5px;


}

.aboutSection img {
    margin: 5px;
    width: 98%;
    max-width: 700px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
