:root{
    --main-background-color: #FFB347;
    --header-footer-color: #FFA500;
    --footer-bottom-color: #FF8C00;
    --border-bold-color: #ff6600;
    --header-footer-font-color: #1F2A37;
    --main-font-color: #161615;
}



*, *::before, *::after {
    box-sizing: border-box;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

body{
    background-color: var(--main-background-color);
    padding: 0;
    margin: 0;    
    width: 100%;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    flex-direction: column;
    background-color: var(--header-footer-color);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    align-items: center;
    width: 100%;
    padding:10px;
}

.headerBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#navbar {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(255, 218, 184, 0.623); 
    transform: translateX(-100%); 
    animation: slideInNav 0.3s ease-in-out forwards; 
    z-index: 1000; 
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav ul li {
    margin: 0;
    border: 1px solid var(--border-bold-color);
    width: 100%;
    text-align: center;
    padding: 18px 0;
    background-color: var(--main-background-color);
}
nav ul li a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: var(--header-footer-font-color);
    font-size: 1.5rem;
    font-weight: bold;
}

/* Keyframes برای slide in */
@keyframes slideInNav {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideOutNav {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#navIcon ,#navCloseIcon , #languageIcon {
    max-width: 35px;
    max-width: 35px;
    padding: 2px;
    cursor: pointer;
}

.headerMainText{
    font-size: 1.8rem;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    width: 100%;    
}

.headerTop a , .footerTop a {
    text-decoration: none;
    color: inherit;
}


main {
    padding: 7.5px 10px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--header-footer-color);
    width: 100%;
    
}


.footerTop {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 10px;

}

.footerMiddle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.footerBottom{
    background-color: var(--footer-bottom-color);
    text-align: center;
    padding: 20px;
    border-top: 5px solid var(--border-bold-color);

}
.footerLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footerRight {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footerInfo {
    display: flex;
    flex-direction: column
}

.footerContactDetails {
    display: flex;
    flex-direction: column;
}

.footerSocialMedias {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footerIcon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.footerGoogleMaps {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    overflow: hidden;
}

.footerGoogleMaps iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.footerMainLogo , .headerMainLogo {
    width: 50px;
    height: 50px;
}

.footerContactDetails div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.footerMainText {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
    vertical-align: middle;
}

.footerGradient {
    width: 100%;
    height: 25px;
    background: linear-gradient(to top, var(--header-footer-color), var(--main-background-color));
    pointer-events: none;
}

.headerGradient {
    width: 100%;
    height: 25px;
    background: linear-gradient(to bottom, var(--header-footer-color), var(--main-background-color));
    pointer-events: none;
}




.braga {
    font-weight: 600;
    color: #1F2A37;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@700&display=swap');
.bites {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #2F8F8B;
    text-decoration: none;
}

.headerLeft , .headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
}

