@media screen and (min-width: 768px) {


#navbar {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    animation: none;
    transform: translateX(0);
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    z-index: 1;
    max-width: 1200px;
}



#navbar ul .mainLogo , #navbar ul .mainText , #navbar hr, #navIcon {display: none;}


#navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: var(--body-background-color-bold);
    padding: 10px;
    border-radius: 25px;
    margin: auto;
}

#navbar ul a li {
    padding: 12px 3px;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 0px 20px rgba(66, 25, 1, 0.1);
    background-color: var(--body-background-color-light);
}



.mainText{font-size: 2.5rem;}

.mainLogo {
    width: 70px;
    height: 70px;
}

#languageIcon {
    max-width: 50px;
    max-height: 50px;
}

#languageMenu {top: 70px;}

.footerMiddle {
    margin: 0px auto;
    flex-direction: row;
    justify-content: space-between;
}

.footerIcon {
    width: 40px;
    height: 40px;
}
    

.languageSelectOption:hover{box-shadow: 0 4px 10px rgba(0,0,0,0.2);}

.footerSocialMedias {
    gap: 35px;
    justify-content: center;
}

.footerContactDetails{margin:10px auto;}



.homeTopSection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 20px;
    overflow:visible;
    padding: 10px;
}

.homeTopTextSection {max-width: 50%;}



.homeTopSlideshowSection {
    background-color: var(--main-background-color-bold);
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 15px;

}

.slideShowPrevious,
.slideShowNext {
    padding: 5px 15px;
    background-color: var(--main-background-color-boldest);
    font-weight: 1000;

}

.homeTopDotSection {background-color: var(--main-background-color-bolder);}

.footerGoogleMaps {width: 80%;}

.homeTopTitleSection {font-size: 2.5rem;}
.homeTopTitleSection .braga , .homeTopTitleSection .bites {font-size: 3rem;}

#homeTopDescriptionSection {
    font-size: 1.1rem;
    text-indent: 1.5em;
    padding: 10px;
}


.contactSectionBottom a{
opacity: 0.8;
}

.contactSectionBottom a:hover {opacity: 1;}



.contactSectionBottom a div img {
    width: 80px;
    height: 80px;

}


.galleryTitle {font-size: 1.4rem;}



.gallerySearch input , .menuSearch input{font-size: 1.35rem;}

.gallerySearch {
    box-shadow: inset 0 0px 10px var(--body-background-color-bold);
    filter: brightness(0.99) contrast(1.1) ;
    padding: 5px 10px;
    border-radius: 10px 10px 0px 0px;
}

.gallerySearch:focus {background-color: black;}

.gallerySearch:hover {
    box-shadow: none;
    transform: none;
}

.gallerySearch:focus-within , .gallerySearchSection:hover .gallerySearch{box-shadow: inset 0px 0px 35px var(--body-background-color-bold);}

.galleryFilterSection {
    position: relative;
    display: flex;
    cursor: pointer;
    width: 100%;
    flex-direction: row;
    box-shadow: none;
    padding: 0 15px 15px 15px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 50px;

}



.gallerySearchSection {
    flex-direction: column;
    background-color: var(--main-background-color-bolder);
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}



.gallerySearchSection:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}

.gallerySection hr {
    display: block;
    max-width: 900px;
    width: 100%;
    border: none;
    height: 3px;
    position: relative;
    margin: 20px auto;
    background-image: linear-gradient(to right , transparent , var(--main-background-color-boldest) , transparent);
}

.aboutSection hr {display: none;}

.galleryFilter {display: none;}


.galleryZoomedImage , #zoomedImageContainer{top: 11%;}

.slideShowPrevious {left: -15px; }
.slideShowNext {right: -15px; }


.homeTopSlideshowSection:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

.aboutSection {margin: 20px auto;}


.slideShowImage {border-radius: 15px;}


.aboutSection div {font-size: 1.1rem;}


.gallerySearchSection , .menuSearchSection  {width: 80%;}


.homeMiddleContainer hr {
    position: absolute;
    display: block;
    height: 200%;
    border: none;
    width: 5px;
    margin: 0;
    background-image: linear-gradient(to bottom , transparent , var(--main-background-color-boldest) 10% , var(--main-background-color-boldest) 90% , transparent);
}
.homeMiddleContainer {
    padding: 50px 0px;
}



.homeMiddleSection {
    display: grid;  
    grid-template-columns: repeat(2,1fr);
    gap: 25px 50px;
    max-width: 1200px;
}



.aboutSection {padding: 5px;}


.aboutSection img {
    max-width: 700px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}


.orderCardStickerRight {transform: translateX(15px) translateY(95px);}


.homeItem {
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    max-width: 450px;
}





}





